.pageGrid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-row-gap: 1px;
    grid-column-gap: 50px;
    max-height: 100%;
    max-width: 100%;
}

#polygonEditor {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 4;

}
#editorSettings {
    border-style: solid;
    border-color: grey;
    border-width: 3px;

    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 7;

}
#playback {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    grid-row-start: 3;
    grid-column-start: 4;

    grid-row-end: 5;
    grid-column-end: 7;

}
