.editorContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    //align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.editorButton {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.editorButton:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.editorButton:disabled {
    background-color: #8a8a8a;
    border: 1px solid #8a8a8a;
}

.svgDisplay {
    border: 1px solid black;
    cursor: none;
}

.svgDisplayLoading {
    border: 1px solid black;
    cursor: none;
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.6;
}

.point {
    stroke: black;
    stroke-width: 3;
    fill: aqua;
}

.cursorPoint {
    stroke: #8a8a8a;
    stroke-width: 2;
    fill: aqua;
    r: 5;
}

.line {
    stroke: black;
    stroke-width: 2;
}

.playedLine {
    stroke: #f50808;
    stroke-width: 3;
}

.tempLine {
    stroke: #8a8a8a;
}
