.pageGrid {
    display: grid;
    //border-color: black;
    //border-width: 5px;
    //border-style: solid;

    // This determines internal border color
    background-color: #444444;

    // These determine the size of internal borders
    grid-row-gap: 2px;
    grid-column-gap: 3px;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    max-height: 100%;
    max-width: 100%;
}

.splitPane {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
}

.paneSeparatorVertical, .paneSeparatorHorizontal {
    border: 3px solid #444444;
    background-color: #444444;
    cursor: col-resize;
}

.paneSeparatorVertical {
    cursor: col-resize;
}

.paneSeparatorHorizontal {
    cursor: row-resize;
}

.leftPane, .rightPane {
    flex: 1;
}

.leftPane {
    overflow: auto;
}

.rightPane {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
}

.editorSettings {
    background-color: white;
    padding: 2px 2px 2px 5px;

    overflow: auto;
    flex: 1;
}

.playback {
    background-color: white;
    padding: 2px 2px 2px 5px;

    overflow: auto;
    flex: 2;
}
