.pageGrid {
    display: grid;
    //border-color: black;
    //border-width: 5px;
    //border-style: solid;

    // This determines internal border color
    background-color: #444444;

    // These determine the size of internal borders
    grid-row-gap: 2px;
    grid-column-gap: 3px;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    max-height: 100%;
    max-width: 100%;
}

.polygonEditor {
    background-color: white;
    padding: 2px 2px 2px 5px;

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 4;
}


.editorSettings {
    background-color: white;
    padding: 2px 2px 2px 5px;

    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 7;

}

.playback {
    background-color: white;
    padding: 2px 2px 2px 5px;

    grid-row-start: 3;
    grid-column-start: 4;

    grid-row-end: 5;
    grid-column-end: 7;

}
