.editorContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.editorButton {
    background-color: #0074f1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.editorButton:disabled {
    background-color: #8a8a8a;
}

.svgDisplay {
    border: 1px solid black;
    cursor: none;
}

.svgDisplayFinished {
    border: 1px solid black;
}

.point {
    stroke: black;
    stroke-width: 3;
    fill: aqua;
}

.cursorPoint {
    stroke: black;
    stroke-width: 2;
    fill: aqua;
    r: 5;
}

.line {
    stroke: black;
    stroke-width: 2;
}


