.colors {
    h3, h2 {
        font-family: $font-family-bold;
    }

    p {
        max-width: 70%;
    }
    .pad-instrument {
        display: grid;
    }
    .card {
        border: 0;
    }
    .color-pad {
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 0;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 50%;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all .2s, box-shadow .08s ease-in;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(68, 68, 68, 0.1) 0 2px 2px 0, rgba(50, 151, 211, .1) 0 0 0 4px;


        &:active, &.keypress {
            border: 2px solid grey;
            box-shadow: none;
        }
    }

    .pad {
        width: 50px;
        height: 50px;
        background-color: white;
        border: 5px solid gray;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .color-pads {
        max-width: 300px;
    }

    .cyan-pad {
        composes: pad;

        &:active, &.keypress {
            background-color: cyan;
        }
    }

    .magenta-pad {
        composes: pad;

        &:active, &.keypress {
            background-color: magenta;
        }
    }
}
