.gestures {
    .btn-sonification {
        width: 250px;
    }
    .canvas {
        border: 6px solid black;
        width: 500px;
        height: 500px;
    }

    .mini-canvas {
        cursor: pointer;
        border: 6px solid black;
        &:hover {
            border: 6px solid $color-link;
        }
    }

    .active-canvas {
        cursor: crosshair;
    }

    .yAxis {
        display: flex;
    }
}
