.gestures {
    .canvas, .mini-canvas {
        border: 5px solid black;
        background-color: white;

    }

    .canvas {
        width: 500px;
        height: 500px;
    }

    .mini-canvas {
        cursor: pointer;

        &:hover {
            border: 5px solid $color-link;
        }
    }

    .active-canvas {
        cursor: crosshair;
    }

    .yAxis {
        display: flex;
    }

    .canvas-row {
        display: grid;
        grid-template-areas: "canvas result";
        grid-template-columns: 40% 60%;

        .canvas-side {
            grid-area: canvas;
        }

        .result-side {
            grid-area: result;
            display: grid;
            grid-template-areas: "buttons"
                                 "mini-canvas";
        }
        .mini-canvas-group {
            grid-area: mini-canvas;
        }
        .button-group {
            grid-area: buttons;
            width: 200px;
            .btn {
                margin-bottom: 0.5em;
            }
        }
    }
}
