@import "./variables";

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    background-image: url("/assets/grid.jpg");
    background-repeat: repeat;
}

h1 {
    font-size: 8em;
    margin: 0;
}

blockquote {
    font-family: $font-family-semibold;
}

a {
    color: $color-link;
}

#main-container {
    padding: 1em 2em;

    > main.container {
        width: 100%;
        display: grid;
        grid-template-areas: "content sidebar";
        grid-template-columns: 75% 25%;
    }

    .main-content {
        grid-area: content;
    }
}

.container {
    margin: 0;
    /*
    NOTE(ra): These are exploratorium specific styles -- we're hardcoding in a big viewport.
     */
    max-width: 100%;
}

.quote-blob {
    position: absolute;
    z-index: -1
}


// sidebar
.sidebar {
    grid-area: sidebar;
    border-left: 10px solid #515151;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;

    .sidebar-content {
        padding: 2em;
    }
}

.sidebar-top {
    border-bottom: 0.2em solid $color-blue;
    font-size: 3em;
    display: grid;
    grid-template-areas: "about home";
    grid-template-columns: 75% 25%;

    .sidebar-about {
        grid-area: about;
        border-right: 0.2em solid $color-blue;
        padding: 0.1em 0.2em 0 0.2em;

        a {
            color: black !important;
            text-decoration: none;

            &:hover, &:active, &:focus {
                color: $color-link !important;
            }
        }
    }

    .sidebar-home {
        grid-area: home;
        padding: 0.2em;
        margin-top: -0.25em;
        text-align: center;

        > a {
            &:hover {
                svg {
                    fill: $color-link;
                }
            }
        }

        svg {
            width: 70px;
            margin: 0 auto;
        }
    }

    > .col {
        padding: 2em 1em;

    }
}


.quotation {
    margin-bottom: 2em;


    blockquote {
        max-width: 80%;
        margin: 0 0 0 3em;
        font-size: 1.3em;
        font-family: $font-family-base;
    }

    footer {
        text-align: right;
        font-size: 1.1em;
        margin-right: 4em;
        margin-top: 0.5em;
    }

    .quote-icon {
        position: absolute;
        margin-top: -25px;
        margin-left: -10px;

        &.right {
            transform: scaleX(-1);
            right: 0;
            margin-top: -40px;
        }
    }
}

//audio player
$player-height: 75px;

.audio-player {
    border: 5px solid $color-neutral;
    padding: 0.5em;
    border-radius: $player-height;
    width: 100%;
    min-height: $player-height;
    background-color: white;
    color: $color-neutral;
    font-size: 1.2em;

    .icon-audio {
        margin-top: 0.2em;
        margin-left: 0.2em;
    }

    .icon-play {
        width: 40px;
        margin-top: 0.25em;
    }

    .icon-stop {
        width: 40px;
        margin-top: 0.4em;
    }

    &.btn-sonification {
        width: auto;
        padding: 0;
        min-height: auto;

        svg {
            display: none !important;
        }

        &.audio-player-on {
            background-color: white !important;
        }
    }
}

.audio-player-on {
    @extend .audio-player;
}


.btn.btn-sonification {
    border: 5px solid black;
    padding: 0 1em;
    border-radius: 2em;
    font-size: 1.75em;
    font-family: $font-family-semibold;
    color: black;

    &:hover {
        background-color: $color-blue !important;
    }

    &:disabled, &[disabled] {
        background-color: white !important;
    }

    &.btn-default {
        background-color: white;
    }

    &.btn-primary {
        background-color: $color-green;
    }

    &.btn-secondary {
        background-color: $color-yellow;
    }
}
