#pad-instrument {
    display: grid;
    grid-template-columns: 300px 100px 300px;
}

.colorPad {
    border-radius: 10px;
    width: 75px;
    height: 75px;
    border: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    &:active, &.keypress {
        border: 2px solid grey;
    }
    font-size: 1.5rem;
    color: white;
}
