#draggable {
    width: 200px;
    height: 20px;
    text-align: center;
    background: white;
  }

  .dragSample {
    width: 30px;
    height: 30px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
  }

    .dropzone {
    width: 20px;
    height: 20px;
    background: #8f7ed5;
    margin-bottom: 10px;
    padding: 10px;
  }

