$player-height: 75px;

.niceAudioPlayer {
    border: 2px solid black;
    border-radius: $player-height / 2;
    width: 100%;
    min-height: $player-height;
    background-color: white;
}

.niceAudioPlayerPlaying {
    composes: niceAudioPlayer;
    background-color: rgb(4, 118, 217);
    color: white;
}
