#pad-instrument {
    display: grid;
    grid-template-columns: 300px 100px 300px;
}

.pad {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 5px solid gray;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.cyanPad {
    composes: pad;
    &:active, &.keypress {
        background-color: cyan;
    }
}

.magentaPad {
    composes: pad;
    &:active, &.keypress {
        background-color: magenta;
    }
}
