.customizableInput {
    margin-left: 10px;
    margin-right: 5px;
}

.rangeLabelLeft {
    margin-left: 5px;
    margin-right: -5px;
    margin-bottom: 0px;
}

.rangeLabelRight {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.customizableInputDiv {
    display: flex;
    margin: 5px;
    align-items: center;
}

.tooltipDiv {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;

    $size: 15px;
    width: $size;
    height: $size;

    div {
        font-size: 8pt;
        font-weight: bolder;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    margin: 0px 1px;

    display: inline-block;

    background-color: #d7d7d7;
}
