.customizableInput {
    margin-left: 10px;
    margin-right: 5px;
}

.rangeLabelLeft {
    margin-left: 5px;
    margin-right: -5px;
    margin-bottom: 0px;
}

.rangeLabelRight {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.customizableInputDiv {
    display: flex;
    margin: 5px;
    align-items: center;
}
